
<Row>
    <Text Style="font-weight:bold; font-size:24px">Comment</Text>
    <Card>
        <Row>
            <CardTitle>2 Comment</CardTitle>
        </Row>
        <hr />
        <CardBody>
            <Row>
        <Column ColumnSize="ColumnSize.Is1" Style="align-self:center">
                    <img src="https://timbaby.net/wp-content/uploads/2022/11/anh-avatar-dep-cho-con-gai-1.jpg" style="border-radius:50%;width:45px;" />
                </Column>
                    <Column ColumnSize="ColumnSize.Is9">
                        <TextEdit></TextEdit>
                </Column>
        <Column ColumnSize="ColumnSize.Is2">
            <Button Color="Color.Secondary" Size="Size.Medium">Add Comment</Button>
        </Column>
            </Row>

            <Row>
        <Column ColumnSize="ColumnSize.Is1" Style="align-self:center">
            <img src="https://img6.thuthuatphanmem.vn/uploads/2022/11/18/anh-avatar-de-thuong-cho-facebook_081757317.jpg" style="border-radius:50%;width:45px;" />
                </Column>

                    <Column ColumnSize="ColumnSize.Is11">
                    <Row>
                <Alert Color="Color.Light" Visible>
                            <Row>
                                <Column>
                            <Text Style="color:cornflowerblue">Nguyen Hung</Text>
                            <Text>22 minutes ago</Text>
                                </Column>
                            </Row>
                            <Row>
                        <Text Style="color:black">The struct at Anny</Text>
                            </Row>
                        </Alert>
                    </Row>
                </Column>          
            </Row>

    <Row>
        <Column ColumnSize="ColumnSize.Is1" Style="align-self:center">
            <img src="https://timbaby.net/wp-content/uploads/2022/11/anh-avatar-dep-cho-con-gai-1.jpg" style="border-radius:50%;width:45px;" />
        </Column>

        <Column ColumnSize="ColumnSize.Is11">
            <Row>
                <Alert Color="Color.Light" Visible>
                    <Row>
                        <Column>
                            <Text Style="color:cornflowerblue">Thuy Linh Nguyen</Text>
                            <Text>1 day ago</Text>
                        </Column>
                        </Row>
                    <Row>
                        <Text Style="color:black">The struct at Anny</Text>
                    </Row>
                </Alert>
                                
            </Row>          
        </Column>
    </Row>
        </CardBody>
    </Card>
</Row>

@code {

}
